@font-face {
  font-family: "emfatick";
  src: url("../../public/fonts/Emfatick NF Regular.otf") format("truetype");
}

.aboutme {
  margin: 5vh;
}
.aboutme h1 {
  font-size: 7vw;
  /* text-align: left; */
  margin-bottom: 0px;
  color: #e0e0da;
  font-family: "emfatick";
  font-weight: 50;
}


.aboutmesection {
  column-count: 2;
  /* margin: 100px;
  margin-bottom:200px; */
  display:flex;
  justify-content:center;
  padding: 5vw;
  background-color: #2d2727;
}

.aboutme p {
    font-size: 2.6vh;
    /* position: absolute;
    transform: translate(40%, 60%); */
    /* margin: auto; */
    color: #cdcdcd;
    width: 550px;
    font-family:monospace;
    font-weight: 50px;
    line-height:120%
  }
  
.aboutmesection img {
  /* position: right; */
  width:25vw;
  height:34vw;
  margin-top:7vw;
  border-radius: 50px;
}


.music{
  background-color:#f3f2f0;
  margin-top:-3.5vw;
}
.music h1 {
  font-size: 35px;
  /* position: absolute;
  transform: translate(30%, 500%); */
  margin-left: 180px;
  padding-top:80px;
  color: #5e5555;
  width: 500px;
  font-family:monospace;
  font-weight: 650;
}


.musicvinyls{
    column-count:3;
    padding-bottom: 70px;
    margin-left:40px

}

.music .breezeblocksVinyl {
  /* position: absolute;
  transform: translate(49%, -160%); */
  width: 20vw;
  border-radius: 50px;
  cursor: pointer;
  overflow-x: hidden;
  margin:50px;
}

.music .everseenVinyl {
  /* position: absolute;
  transform: translate(190%, -160%); */
  width: 20vw;
  border-radius: 50 px;
  cursor: pointer;
  overflow-x: hidden;
  margin:50px;
}

.music .ivyVinyl {
  /* position: absolute;
  transform: translate(340%, -160%); */
  width: 20vw;
  border-radius: 50px;
  cursor: pointer;
  overflow-x: hidden;
  margin:50px;
}
    

.music .ivyVinyl:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.music .breezeblocksVinyl:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  .music .everseenVinyl:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  

/* .music .musicbackground {
  width: 100vw;
} */

.breezeblocks h2{
    font-size: 1.8vw;
    color: #5e5555;
  width: 500px;
  font-family: monospace;
  font-weight: 650;
  padding-left:3vw;
}
.everseen h2{
  font-size: 1.8vw;
  color: #5e5555;
width: 500px;
font-family: monospace;
font-weight: 650;
padding-left:1.5vw;
}

.ivy h2{
  font-size: 1.8vw;
  color: #5e5555;
width: 500px;
font-family: monospace;
font-weight: 650;
padding-left:4vw;
}

