@font-face {
    font-family: "acorn-bold";
    src: url("../../public/fonts/Acorn/Acorn-Bold.otf") format("truetype");
  }
  
  @font-face {
    font-family: "acorn-medium";
    src: url("../../public/fonts/Acorn/Acorn-Medium.otf") format("truetype");
  }
  

.construction-msg h1{
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 0px;
    /* position:absolute;
      transform: translate(190%, -600%); */
    color: #4d4545;
    display: flex;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.construction-msg{
    padding-left: 35vw;
    padding-top: 20vw;
}

.DivvyUp-header img{
width:100vw;
}

.divvy-section2{
    padding-left: 18vw;
    padding-top:5vw;
    background-color:rgb(243, 243, 243);
    padding-bottom:5vw;
}


@media (max-width: 768px) {
    .divvy-section2 {
      padding-left: 6vw;     /* reset huge desktop gutter */
      padding-right: 6vw;    /* add symmetric padding */
      padding-top: 6vw;
      padding-bottom: 6vw;
    }
  }
  
.divvy-section2 h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 65vw;
    font-weight: 400; 
    line-height: 1.6rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

@media (max-width: 768px) {
    .divvy-section2 h2 {
      width: 100%;        /* stop constrained text */
      max-width: 100%;
      font-size: 1.05rem; /* optional: slightly tighter for mobile */
      line-height: 1.6rem;
    }
  }
  


.divvy-section2 img{
    width:67vw;
    padding-top:3vw;
}

.divvy-section2 .keyFindingsDivvy{
    display:flex;
    columns:3;
    gap:4vw;
}

.keyFindingsDivvy .keyFinding-1 h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 20vw;
    font-weight: 600; 
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}


.keyFindingsDivvy .keyFinding-1 h3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 20vw;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.keyFindingsDivvy .keyFinding-2 h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 20vw;
    font-weight: 600; 
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}


.keyFindingsDivvy .keyFinding-2 h3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 20vw;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.keyFindingsDivvy .keyFinding-3 h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 20vw;
    font-weight: 600; 
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}


.keyFindingsDivvy .keyFinding-3 h3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 20vw;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section3{
    padding-left: 18vw;
    padding-top:5vw;
    padding-bottom:5vw;
}

.divvy-section3 h1{
    font-size:1.3rem;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section3 h2{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem; 
    width: 65vw;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section3 img{
    width: 60vw;
    padding-top:2vw;
    padding-bottom:2vw;
}

.divvy-section4{
    padding-left: 18vw;
    padding-top:5vw;
    padding-bottom:5vw;
    background-color: rgb(243, 243, 243);
}

.divvy-section4 h1{
    font-size:1.3rem;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section4 h3{
    font-size:1.1rem;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    color:#8b8b8b
}

.divvy-section4 h2{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem; 
    width: 65vw;
    padding-bottom:2vw;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section4 img{
    width:65vw;
    padding-bottom:4vw;
}

.divvy-section5{
    padding-left: 18vw;
    padding-top:5vw;
    padding-bottom:5vw;
}
.divvy-section5 .divvy-final{
    display:flex;
    columns:2;
    gap:3vw;
}

.divvy-section5 .divvy-final img{
    width:43vw;
    padding-top:0vw;
    padding-bottom:4vw;
}

.divvy-section5 .divvy-final h1{
    font-size:1.3rem;
    font-weight: 600; 
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section5 .divvy-final h2{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem; 
    width: 23vw;
    padding-bottom:2vw;
    padding-top:11vw;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}


@media (max-width: 768px) {
    .divvy-section5 .divvy-final {
      flex-direction: column;   /* stack vertically */
      align-items: left;      /* optional: centers content */
    }
  
    .divvy-section5 .divvy-final img {
      width: 80%;              /* full width on mobile */
      padding: 0;
      margin-bottom: 4vw;
    }
  
    .divvy-section5 .divvy-final h2 {
      width: 80%;              /* let text span full width */
      padding-top: 4vw;         /* adjust spacing */
      text-align: left;       /* optional */
    }
  }
  
.divvy-section5 .divvy-onboarding h1{
    font-size:1.3rem;
    font-weight: 600;
    padding-top:2vw;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section5 .divvy-onboarding h2{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem; 
    width: 65vw;
    padding-bottom:0vw;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section5 .divvy-onboarding img{
    width:65vw;
    padding-bottom:4vw;
}

.divvy-section6{
    padding-left: 18vw;
    padding-top:0vw;
    padding-bottom:5vw;
}

.divvy-section6 h1{
    font-size:1.3rem;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.divvy-section6 h2{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem; 
    width: 65vw;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

/* .keyFindingsDivvy h2{
    font-size:1.7vw;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
} */

.userPersona h2{
    font-size:1.1rem;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

/* MOBILE LAYOUT FIXES */
@media (max-width: 768px) {

    /* Sections: consistent padding */
    .divvy-section2,
    .divvy-section3,
    .divvy-section4,
    .divvy-section5,
    .divvy-section6 {
      padding-left: 6vw;
      padding-right: 6vw;
      padding-top: 6vw;
      padding-bottom: 6vw;
    }
  
    /* Headings: full width and readable size */
    .divvy-section2 h2,
    .divvy-section3 h2,
    .divvy-section4 h2,
    .divvy-section5 h2,
    .divvy-section5 .divvy-onboarding h2,
    .divvy-section6 h2,
    .userPersona h2 {
      width: 100%;
      max-width: 100%;
      font-size: 1.05rem;
      line-height: 1.6rem;
    }
  
    .divvy-section3 h1,
    .divvy-section4 h1,
    .divvy-section5 h1,
    .divvy-section5 .divvy-onboarding h1,
    .divvy-section6 h1 {
      width: 100%;
      font-size: 1.2rem; /* slightly smaller for mobile */
    }
  
    /* Key findings columns: stack vertically */
    .divvy-section2 .keyFindingsDivvy {
      flex-direction: column;
      gap: 4vw;
    }
  
    .keyFindingsDivvy .keyFinding-1 h2,
    .keyFindingsDivvy .keyFinding-1 h3,
    .keyFindingsDivvy .keyFinding-2 h2,
    .keyFindingsDivvy .keyFinding-2 h3,
    .keyFindingsDivvy .keyFinding-3 h2,
    .keyFindingsDivvy .keyFinding-3 h3 {
      width: 100%;
      font-size: 1.05rem;
    }
  
    /* Images: scale down for mobile */
    .divvy-section2 img,
    .divvy-section3 img,
    .divvy-section4 img,
    .divvy-section5 .divvy-final img,
    .divvy-section5 .divvy-onboarding img,
    .divvy-section6 img {
      width: 80%;       /* responsive width */
      padding: 0;
      margin-bottom: 4vw;
    }
  
    /* Final section with 2-column layout: stack vertically */
    .divvy-section5 .divvy-final {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .divvy-section5 .divvy-final h2 {
      width: 80%;
      padding-top: 4vw;
      text-align: left;
    }
  
  
  }
  