.hmHeader{
    columns:2;
    display:flex;
    padding-top:8vw;
    padding-left:8vw;
    padding-right:8vw;
    padding-bottom:4vw;
    background-color:rgb(246, 246, 246);
}

.hmHeader .highlight {
  color: #2072e5;
  font-weight: 600;
}

.highlight2 {
  color: #393939;
  font-weight: 700;
}

.hmHeader img{
    width:50vw;
}

.hmHeader h1{
    font-size:2vw;
    padding-top:12vw;
}


.hm-overview{
    font-size: 0.8vw;
    width: 65vw;
    padding-top:4vw;
  }

  .hm-overview h2 {
    font-weight: 400;
    margin-bottom: 3vw;
    line-height: 1.8vw;
  }

  .hm-overview h1{
    font-weight: 600;
  }

  .hm-problem{
    font-size: 0.8vw;
    width: 65vw;
    padding-top:1vw;

  }

  .hm-problem img{
    width: 65vw;
    padding-bottom: 4vw;
  }

  .hm-problem h2 {
    font-weight: 400;
    margin-bottom: 3vw;
    line-height: 1.8vw;
  }

  .hm-problem h1{
    font-weight: 600;
    font-size: 2vw;
  }

  .headline {
    font-size: 2.5rem;
    line-height: 1.3;
  }
  
  .highlight {
    color: #2072e5; /* your highlight color */
    font-weight: 600; /* optional */
  }

  .hm-problem .problem-statement {
    width: 61vw;
    padding-top:5vw;
    padding-bottom:5vw;
    margin-bottom:8vw;
    margin-top:5vw;
    padding-left: 3vw;
    padding-right: 2vw;
    line-height: 2.6vw;
    background-color:#fafafa;
    border-radius: 2vw;
    
  

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hm-problem .problem-statement:hover {
  transform: translateY(-0.6vw);
  box-shadow: 0 1.2vw 2.5vw rgba(162, 162, 162, 0.08);
}

  .problem-statement h1 + h1 {
    margin-top: 2rem; /* adjust as needed */
  }

  .hm-problem .problem-statement h1{
    font-weight: 600;
    color:#474747
  }

  .design-principles {
    max-width: 900px;
  }
  
  .design-principles ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  
  .design-principles li {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    color: #111;
  }
  
  .emphasis {
    font-weight: 600;
    color: #2072e5; /* accent color */
  }
  
  .hm-section3{
    font-size: 0.8vw;
    width: 65vw;
    padding-left: 18vw;
    padding-top:5vw;
    padding-bottom:5vw;
  }

  .hm-section3 img{
    width: 65vw;
    padding-bottom: 4vw;
  }

  .hm-section3 h2 {
    font-weight: 400;
    margin-bottom: 3vw;
    line-height: 1.8vw;
  }

  .hm-section3 h1{
    font-weight: 600;
    font-size: 2vw;
  }

.userTesting{
    padding-top: 3vw;
}

.userTesting img{
    width: 60vw;
}



.final-text{
    background-color:#EFF8FF;
    padding-top:2vw;
    padding-left:12.2vw;
    padding-right:10vw;
    padding-bottom:2vw;
}
.final-text h2 {
    font-weight: 400;
    margin-bottom: 3vw;
    line-height: 1.8vw;
    font-size: 1.2vw;
    width: 67vw;
  }

  .final-text h1{
    font-weight: 600;
    font-size: 3.5vw;
    color:#00357e;
  }
.hm-section4{
    columns:2;
    display:flex;
}


.hm-section4 img{
    width: 40vw;
    padding: 5vw;
    transition: transform 0.3s ease;
}

.hm-section4 img:hover {
  transform: scale(1.05);
}

.hmsection4-text h2{
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.8vw;
}
.hmsection4-text h1{
    font-size:1.7vw;
    font-weight: 600;
}
.hmsection4-text{
    padding-left:12vw;
    padding-top:8vw;
    width:30vw;
}

.hm-section5{
    columns:2;
    display:flex;
    padding-left: 6vw;
}

.hm-section5 img{
    width: 40vw;
    padding: 5vw;
    transition: transform 0.3s ease;
}

.hm-section5 img:hover {
  transform: scale(1.05);
}

.hmsection5-text h2{
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.8vw;
}
.hmsection5-text h1{
    font-size:1.7vw;
    font-weight: 600;
}
.hmsection5-text{
    padding-right:12vw;
    padding-top:8vw;
    width:30vw;
}
.hm-section6{
  columns:2;
  display:flex;
}


.hm-section6 img{
  width: 40vw;
  padding: 5vw;
  transition: transform 0.3s ease;
}

.hm-section6 img:hover {
transform: scale(1.05);
}

.hmsection6-text h2{
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.8vw;
}
.hmsection6-text h1{
  font-size:1.7vw;
  font-weight: 600;
}
.hmsection6-text{
  padding-left:12vw;
  padding-top:8vw;
  width:30vw;
}


.hm-handoff img{
    width: 57vw;
    padding-bottom: 5vw;
  }


  .hm-handoff{
    width: 60vw;
    padding-top:1vw;
  }

  .hm-handoff h2 {
    font-weight: 400;
    line-height: 1.8vw;
    font-size: 1.2vw;
  }

  .hm-handoff h1{
    font-weight: 600;
    padding-bottom: 2vw;
    font-size: 2vw;
  }




  .hm-lessons{
    width: 65vw;
    padding-left: 18vw;
    padding-top:5vw;
    padding-bottom:5vw;
    margin-bottom: 3vw;
  }

  .hm-lessons h2 {
    font-weight: 400;
    line-height: 1.8vw;
    font-size: 1.2vw;
  }

  .hm-lessons h1{
    font-weight: 600;
    padding-bottom: 2vw;
    font-size: 2vw;

  }


  .hm-lessons h3{
    font-weight: 600;
    font-size: 1.7vw;
    color:#565656
  }