.navhome,
.aboutmenav,
.projectsnav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 30px 40px;
  background: transparent;

  pointer-events: auto;
}

.navhome button,
.aboutmenav button,
.projectsnav button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  margin: 3px;
  padding: 13px 10px;

  font-size: 1.25vw;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;

  color: #d1d0d0;
  position: relative;
}

.navhome button:hover,
.aboutmenav button:hover {
  color: #b5d8ab;
  border-radius: 50%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;   /* reduce from 40px if too large */
  width: 100%;
  box-sizing: border-box;  /* VERY important */
}

.nav-logo {
  height: 40px; /* adjust size */
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 24px;
}

/* Projects page variant */
.projectsnav button {
  color: #484848;
}

.projectsnav button:hover {
  color: #6a6a6a;
}


@media (max-width: 700px) {
  .navhome,
  .aboutmenav,
  .projectsnav {
    padding: 10px;
  }

  .navhome button,
  .aboutmenav button,
  .projectsnav button {
    font-size: 2.5vw;
    padding: 6px;
  }
}
