@font-face {
  font-family: "inter";
  src: url("../../public/fonts/InterVariable.ttf") format("truetype");
}

@font-face {
  font-family: "acorn-bold";
  src: url("../../public/fonts/Acorn/Acorn-Bold.otf") format("truetype");
}

@font-face {
  font-family: "acorn-medium";
  src: url("../../public/fonts/Acorn/Acorn-Medium.otf") format("truetype");
}


.wealthHeader {
  columns: 2;
  display: flex;
  padding-top: 4vw;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 4vw;
  /* background-color: #528271; */

  background:
  radial-gradient(
    1200px 600px at 90% 5%,
    #84ccab 0%,
    transparent 60%
  ),
  radial-gradient(
    900px 500px at 100% 80%,
    #6bb794 0%,
    transparent 0%
  ),
  radial-gradient(
    1000px 700px at 20% 10%,
    #f4fff5 0%,
    transparent 60%
  ),
  linear-gradient(
    135deg,
    #6bb794 0%,
    #f9fffa 30%
  );
  
  border-radius: 0 0 40px 40px;
  gap: 60px;
  transition: background-color 0.4s ease;
}
/* .wealthHeader:hover{
background-color: #3c6657;
} */

.wealthHeader img {
  width: 30vw;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 0.6s forwards; /* changed name to fadeInUp and added forwards to keep final state */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* starts slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* ends at normal position */
  }
}
/* .wealthHeader img:hover {
  transform: translateY(-0.6vw) rotate(1.2deg);
  box-shadow: 0 1.2vw 2.5vw rgba(162, 162, 162, 0.08);
} */

.wealthText {
  width: 43vw;
  height: 30vw;
  flex-shrink: 0;
  animation: fadeInUp 0.6s forwards; /* changed name to fadeInUp and added forwards to keep final state */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* starts slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* ends at normal position */
  }
}

.wealthHeader .wealthText h1 {
  font-size: 2.3vw;
  padding-top: 12vw;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wealthHeader .wealthText h2 {
  font-size: 1.3vw;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wealthContent {
  display: flex;
  padding: 0 14vw;
  align-items: center;
  align-self: stretch;
}

.wealthsection1 {
  display: flex;
  /* margin-left: 18vw; */
  margin-top: 4vw;
  margin-bottom: 4vw;
  flex-direction: column;
  align-items: left;
  gap: 6vw;
}

.wealth-intro {
  display: flex;
  justify-content: flex-start;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  width: 60vw;
  gap: 10vw;
}

.wealthsection1 .confidential {
  display: flex;
  /* width: 90vw; */
  /* padding: 2vw 2vw; */
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  /* background: #ffffff;
  box-shadow: 1.2vw 1.2vw 2.5vw rgba(187, 187, 187, 0.08);

  transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* .wealthsection1 .confidential:hover {
  transform: translateY(-0.6vw);
  box-shadow: 0 1.2vw 2.5vw rgba(110, 110, 110, 0.08);
} */

.wealthsection1 .confidential h1 {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wealthsection1 .confidential h2 {
  display: flex;
  /* width: 855.285px; */
  /* height: 139px; */
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.wealthsection1 .wealth-overview h1 {
  color: #528271;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wealthsection1 .wealth-overview h2 {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.wealthsection1 .wealth-myrole h1 {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wealthsection1 .wealth-myrole h2 {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.wealthsection1 .wealth-myrole {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.challenge-sec2 {
  display: flex;
  padding: 4vw 14vw;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px 40px 0 0;
  background: #385b4f;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* .challenge-sec2:hover {
  transform: translateY(-0.6vw);
  box-shadow: 0 1.2vw 2.5vw rgba(162, 162, 162, 0.08);
} */

.challenge-sec2 h1 {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.challenge-sec2 h2 {
  color: #eee;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.challenge-container {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  align-self: stretch;
  padding-top: 2vw;
}

.challenge-container h1 {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.7vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.challenge-container h2 {
  color: #eee;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.whymatter {
  display: flex;
  width: 30vw;
  height: 24vw;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1vw;
  /* gap: 2vw; */
  border-radius: 30px;
  background: #2e4e43;
}

.ourgoal {
  display: flex;
  width: 30vw;
  height: 24vw;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 22px; */
  border-radius: 30px;
  line-height: 1vw;
  background: #2e4e43;
}

.wealth-section3 {
  display: flex;
  /* margin-left: 18vw; */
  margin-top: 4vw;
  margin-bottom: 4vw;
  flex-direction: column;
  align-items: left;
  gap: 6vw;
  padding: 0 14vw;
}

.targetUsers {
  columns: 2;
  gap: 4vw;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}

.targetUsers img {
  width: 22vw;
}

.targetUsersText {
  width: 44vw;
}

.targetUsersText h1 {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.targetUsersText h2 {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

/* .wealth-userneeds {
  display: flex;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background: #528271;
} */

.wealth-userneeds h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .wealth-userneeds h2 {
  color: #f8f8f8;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
} */

.wealth-userneeds img{
  width:75vw;
  padding-top: 3vw;
}

.wealthProcess img {
  width: 70vw;
}

.wealthProcess h1 {
  color: #5a7684;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.whatwasTested-sec4 {
  display: flex;
  padding: 4vw 14vw;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px 40px 0 0;
  background: #ebebeb;
 
}



.whatwasTested-sec4 h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.whatwasTested-sec4 h2 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.futurenav {
  columns: 2;
  padding-top:6vw;
}

.futurenav img {
  width: 40vw;
}

.futurenavtext {
  padding-top: 4.4vw;
}

.futurenavtext h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2vw;
}

.bottomnav {
  columns: 2;
  gap: 2vw;
  padding-top:6vw;
}

.bottomnav img {
  width: 30vw;
  padding-right: 4vw;
}

.bottomnavtext {
  padding-top: 4.4vw;
}

.bottomnavtext h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2vw;
}

.scrollvstab {
  columns: 2;
  gap: 2vw;
  padding-top:6vw;
}

.scrollvstabtext {
  padding-top: 4.4vw;
}

.scrollvstabtext h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2vw;
}

.scrollvstabtext h2 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.scrollvstab img {
  width: 30vw;
}

.keyinsights {
  display: flex;
  /* margin-left: 18vw; */
  margin-top: 4vw;
  margin-bottom: 4vw;
  flex-direction: column;
  align-items: left;
  gap: 2vw;
  padding: 0 14vw;
}

.keyinsights h1 {
  color: #528271;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.insights {
  display: flex;
  gap: 2vw; /* spacing between cards */
  justify-content: space-between;
  flex-wrap: wrap;
}

.insight1 {
  display: flex;
  width: 18.5vw;
  height: 30vw;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  background: #ccdbd6;
  border-radius: 2vw;
}

.insight1 h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.insight1 h2 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.insight2 {
  display: flex;
  width: 18.5vw;
  height: 30vw;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  background: #ccdbd6;
  border-radius: 2vw;
}

.insight2 h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.insight2 h2 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.insight3 {
  display: flex;
  width: 18.5vw;
  height: 30vw;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  background: #ccdbd6;
  border-radius: 2vw;
}

.insight3 h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.insight3 h2 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.recos {
  display: flex;
  /* margin-left: 18vw; */
  margin-top: 8vw;
  margin-bottom: 4vw;
  flex-direction: column;
  align-items: left;
  gap: 2vw;
  padding: 0 14vw;
}

.recos h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.recos h2 {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.whatIlearned {
  display: flex;
  /* margin-left: 18vw; */
  margin-top: 4vw;
  margin-bottom: 10vw;
  flex-direction: column;
  align-items: left;
  gap: 2vw;
  padding: 0 14vw;
}

.whatIlearned h1 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.learnings {
  display: flex;
  gap: 2vw; /* spacing between cards */
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .learning1 {
  display: flex;
  width: 18.5vw;
  height: 25vw;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  background: #cbe1ec;
  border-radius: 2vw;
} */

.learning1 h1 {
  color: #484848;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.learning1 h2 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

/* .learning2 {
  display: flex;
  width: 18.5vw;
  height: 25vw;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  background: #cbe1ec;
  border-radius: 2vw;
} */

.learning2 h1 {
  color: #484848;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.learning2 h2 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

/* .learning3 {
  display: flex;
  width: 18.5vw;
  height: 25vw;
  padding: 2vw 2vw;
  flex-direction: column;
  align-items: flex-start;
  background: #cbe1ec;
  border-radius: 2vw;
} */

.learning3 h1 {
  color: #484848;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.learning3 h2 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
}

.more-work {
  padding: 3vw 4vw;
}

.more-work h1 {
  font-size: 3vw;
  font-weight: 600;
  margin-bottom: 3vw;
  font-family: acorn;
  color: rgb(130, 116, 108);
}

.carousel-wrapper {
  position: relative;
}

.carousel {
  display: flex;
  gap: 3vw;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 5vw;
  padding-top: 2vw;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  min-width: 28vw;
  border-radius: 2vw;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 1vw 1vw rgba(212, 212, 212, 0.15);
}

.carousel-card img {
  width: 100%;
  display: block;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.carousel-card h2 {
  font-size: 1.2vw;
  font-weight: 500;
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
  line-height: 1.6vw;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.carousel-card:hover img {
  transform: scale(1.06);
}

.carousel-card:hover {
  transform: translateY(-0.4vw);
  box-shadow: 0 1vw 1vw rgba(163, 163, 163, 0.15);
}

/* Arrows */
/* .carousel-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
  padding: 0.8vw 1.2vw;
  border-radius: 50%;
  box-shadow: 0 0.6vw 1.5vw rgba(0, 0, 0, 0.15);
  z-index: 2;
} */

.carousel-btn.left {
  left: -2vw;
}

.carousel-btn.right {
  right: -2vw;
}

